.deps
*.o
blockcat61
cat61
files
ostridecat61
pipeexchange61
pset.tgz
randomcat61
reordercat61
reverse61
slow-blockcat61
slow-cat61
slow-ostridecat61
slow-pipeexchange61
slow-randomcat61
slow-reordercat61
slow-reverse61
slow-stridecat61
stdio-blockcat61
stdio-cat61
stdio-ostridecat61
stdio-pipeexchange61
stdio-randomcat61
stdio-reordercat61
stdio-reverse61
stdio-stridecat61
stridecat61
text20meg.txt
